* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgba(93, 219, 238);
}
.kick-pad.activate {
  background: rgb(9, 100, 149);
}
.snare-pad {
  background: rgb(223, 93, 238);
}
.snare-pad.activate {
  background: rgb(124, 5, 137);
}
.hihat-pad {
  background: rgb(238, 175, 93);
}
.hihat-pad.activate {
  background: rgb(255, 145, 0);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.kick-track,
.hihat-track,
.snare-track {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  background: rgb(68, 68, 68);
  border: none;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.pad {
  transition: all 0.5s ease-in-out;
}
.play {
  border: none;
  background: rgb(68, 68, 68);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 5rem;
  font-size: 1.5rem;
  border-start-end-radius: 10rem;
  border-end-end-radius: 10rem;
}
select {
  padding: 1rem;
  font-size: 1rem;
}
.mute.activate {
  background: gray;
}

.tempo {
  margin: 3rem;
  width: 30%;
  text-align: center;
}
.tempo-slider {
  padding: 0.25rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
